*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}

body {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/assets/image/Foto2.png') no-repeat;
  background-size: cover; /* cubre la imagen el espacio*/
  background-position: center;
}

.FormLogin {

  width: 530px;
  height: auto;
  background: transparent;
  border: 2px solid  rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius:  10px;
  padding:   120px 40px;
}

.FormLogin h1{

  font-size: 36px;
  text-align: center;

}

.FormLogin .input-box{
  position: relative; /* Poner lo iconos dentro el input*/
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input{

  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: #fff;
}

.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform:  translateY(-50%);
  font-size: 40px;
}

.FormLogin .recordar{

  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin:  -15px 0 15px;
}

.recordar label input{

  accent-color: #fff;
  margin-right: 3px;
}

.recordar a {
  color:  #fff;
  text-decoration: none;
}

.recordar a:hover {
  text-decoration: underline;
}

.FormLogin .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.FormLogin .registarse-link{

  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px;

}


.registarse-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;

}

.registarse-link p a:hover{
  text-decoration: underline;

}

.FormLogin .alert{
  margin: auto;
  margin-top: auto;
  background-color: black;
  color: #fff;
}


header {
  width:100%; /* Establecemos que el header abarque el 100% del documento */
  overflow:hidden; /* Eliminamos errores de float */
  background:#252932;
  margin-bottom:20px;
  }

  .banner {
  width:100%; /* Establecemos que el ancho sera del 90% */
  max-width:100%; /* Aqui le decimos que el ancho máximo sera de 1000px */
    padding: 0 5%;
  margin:auto; /* Centramos los elementos */
  overflow:hidden; /* Eliminamos errores de float */
  }

  header .logo {
  color:#f2f2f2;
  font-size:50px;
  line-height:200px;
  float:left;
  }

  header nav {
  float:right;
  line-height:200px;
  }

  header nav a {
  display:inline-block;
  color:#fff;
  text-decoration:none;
  padding:10px 20px;
  line-height:normal;
  font-size:20px;
  font-weight:bold;
    cursor: pointer;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
  }

  header nav a:hover {
  background:#b41dcb;
  border-radius:50px;
  }

  .idiomas {
    position: relative;
  }

  .idiomas .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #252932;
    border: 2px solid #fff;
    border-top: none;
    display: none;
  }

  .idiomas .dropdown li {
    list-style-type: none;
  }

  .idiomas .dropdown li a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
  }

  .idiomas .dropdown li a:hover {
    background-color: #b41dcb;
  }

  .idiomas:hover .dropdown {
    display: block;
  }

  .idiomas .selected {
    display: inline-block;
  }


